* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbarmobile {
  color: black;
  background-color: white;
}
.navbardesktop {
  display: none;
}
.navtop {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.iconify {
  margin: 20px;
}
.backgroundimage {
  position: relative;
  height: 150vh;
  width: 100vw;

  /* width: 100%; */
  opacity: 0.5;
}
.main {
  color: white;
}

.links {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.becomemember {
  width: fit-content;
  height: fit-content;
}
.login {
  display: flex;
  align-items: center;
  width: 200px;
}
#backgroundimage {
  width: 100%;
  height: 150vh;
}
.getquote {
  width: max-content;
  border-radius: 5px;
  padding: 10px;
}
#getquote {
  background-color: rgb(109, 109, 221);
}
#learnmore {
  border: 1px solid white;
}

.topmain {
  background: rgba(35, 31, 32, 0.4);
  height: 150vh;
  position: absolute;
  width: 100%;
  margin-top: -870px;
  padding: 10px;

  text-align: center;
}
.mainbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.peaceofmind,
.setforlife {
  color: black;
  background-color: white;
  width: 75%;
  text-align: left;

  padding: 20px;
  margin-top: 20px;
}
.tiles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.satisfaction {
  background-color: #23a6f0;
  width: 75%;
  text-align: left;

  padding: 20px;
  margin-top: 20px;
}
.tile2 {
  color: black;
  text-align: center;
}
.industrydescription {
  color: black;
  text-align: center;
  margin-top: 20px;
}
.industryimage1,
.industryimage2,
.industryimage3 {
  border: 1px solid black;
  color: rgb(0, 0, 0);
  text-align: center;
  width: fit-content;
  padding: 30px 10px;
}
.profileimage {
  width: 100px;
}
.siximages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.siximages > img {
  width: 100px;
  margin: 20px;
}
.subscribeform {
  background-image: linear-gradient(to right, blue, rgb(248, 8, 168));
  text-align: center;
  padding: 20px;
}
button {
  background-color: #23a6f0;
  padding: 10px;
  border: none;
}
.pricing {
  color: black;
  text-align: center;
  margin: 50px;
}

.free,
.standard,
.premium {
  margin: 50px 10px;
  padding: 10px;
  width: 105%;
  border: 1px solid #23a6f0;
  display: flex;
  flex-direction: column;
}
.free > p,
.standard > p,
.premium > p {
  text-align: left;
  display: flex;
  align-items: center;
}
.standard {
  background-color: #252b42;
  color: white;
}
.branches {
  text-align: left;
  color: white;
  background-color: #252b42;
  margin-top: -40px;
  width: 100vw;
  margin-left: -50px;
  padding: 50px;
}
.worldimage {
  width: 200px;
  padding: 30px 10px;
}
.familyimage > img {
  width: 100vw;
  height: 150px;
  margin-left: -50px;
}
.freequote {
  text-align: left;
}
.freequoteform {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  justify-content: space-between;
  height: 350px;
}
.consultancy {
  text-align: left;
  height: 200px;
  justify-content: space-between;
}

.companyinfo > p,
.legal > p,
.features > p,
.resources > p {
  padding: 10px;
}
.getintouch > p {
  display: flex;
  align-items: center;
}
.socialmedia {
  display: flex;
}
@media screen and (min-width: 480px) {
  .navbardesktop {
    display: flex;
    justify-content: space-evenly;
  }
  .navbarmobile {
    display: none;
  }
  .links {
    flex-direction: row;
    align-items: center;
  }
  .login {
    display: flex;
    justify-content: space-evenly;
  }
  #bestinsurance {
    margin-top: 250px;
  }
  .ensure {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .mainbutton {
    flex-direction: row;
    width: max-content;
    align-items: center;
    justify-content: space-evenly;
  }
  .ensure > p {
    padding: 20px;
  }
}
